// General elements
// -------------------------
html {
    font: 15px/1.15 $font-family-sans-serif;
    color: #1a1a1a;

    @include breakpoint-min( sm ) { font-size: 18px; }
}

p { 
    font: 1em/1.6 $font-family-serif;
    margin: .8em 0 .8em 0;
    &:first-child, &:first-of-type { margin-top: 0; }
    &:last-child { margin-bottom: 0; }
}

a { 
    color: initial; 
    text-decoration: none; 
}

a:focus,
a:hover {
    color: $blue-bga;
    text-decoration: none;
    background-color: $yellow-highlight;
}

ul, ol {
    padding-left: 2em;
    clear: both;

    > li {
        margin-bottom: .2em;
        font-size: .95em;
    }
}


// General layout
// -------------------------
// @include grid( page );

#content {
    max-width: 100%;
    margin: 0 auto;
}

hr {
    width: 70%;
    margin: 1.6em 15%;
}

[class*="align-"] {
    margin: 0 auto 1.6em;

    &.align-right {
        float: right;
        margin-left: 1.6em;
    }

    &.align-left {
        float: left;
        margin-right: 1.6em;
    }

    &.align-center {
        float: none;
        margin: inherit auto;
    }
}


// General behavior
// -------------------------
a { transition: all .5s; }

::selection {
    background: $yellow-highlight; 
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
