<!DOCTYPE html>
<html lang="en">

<head>

    <title>{{ title }} | BGA Illinois Voters Guide</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="https://media.bettergov.org/favicon.ico" />

    {% include 'qas/_social_tags.html' %}

    <!-- Fonts -->
    <script src="https://use.typekit.net/mqd7hhp.js"></script>
    <script>try{Typekit.load({ async: false });}catch(e){}</script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/build/app.css" %}">

    <!-- JS -->
    <script src="{% static "js/app.js" %}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-18960172-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-18960172-1');
    </script>

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body class="app">

    <a class="sr-only" href="#content">Skip To Content</a>

    {% block nav %}
    <header role="banner" class="app__rail">
        <div class="app__rail__inner">
            <a href="/" class="hidden-sm"><img src="https://media.bettergov.org/voter-guide/BGA_Illinois_Voters_Guide_2018.png"></a>
            <nav class="app__rail__nav">
                <ul class="app__rail__menu">
                    <h1 class="hidden-lg"><a href="https://bettergov.org/">Better Government Association</a></h1>
                    <li class="app__rail__item--main">
                        <a href="{% url 'faq' %}">Voting FAQ</a>
                    </li>
                    <li class="app__rail__item--main">
                        <a href="{% url 'races:index' %}">Races</a>
                        <ul class="app__rail__menu--secondary">
                            {% for r in all_races|dictsort:"weight" %}
                            <li class="app__rail__item--secondary">
                                <a href="{% url 'races:race' r.slug %}">{{ r.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    {% endblock nav %}

    {% block header_content %}
    {% endblock header_content %}

    <main class="page">
        <div class="main-content" id="content">
        {% block content %}
        {% endblock content %}
        </div>
    </main>

    {% block footer %}
    <footer class="app__footer">
        <div class="footer-wrapper">
            <div class="divider"></div>
            <ul>
                <li>&#169; 2018 <a href="https://www.bettergov.org/">Better Government Association, Inc.</a></li>
                <li><a href="https://www.bettergov.org/terms-conditions">Terms &amp; conditions</a></li>
                <li><a href="https://www.bettergov.org/privacy-policy">Privacy policy</a></li>
            </ul>
        </div>
    </footer>
    {% endblock footer %}

    {% block extra_foot %}
    {% endblock extra_foot %}
</body>
</html>