{% extends 'qas/_base.html' %}

{% block content %}
{% if all_races %}
    <h1 class="title">Browse candidate responses - 2018 Illinois Primary Election</h1>
    <p>The BGA asked candidates for contested state and Cook County-wide offices running in the 2018 primary how they would improve and expand government accountability, efficiency and transparency for the residents they would serve.</p>
    <ul>
    {% for race in all_races %}
        <li><a href="{% url 'races:race' race.slug %}">{{ race.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No races are available.</p>
{% endif %}
{% endblock content %}