{% extends 'qas/_base.html' %}

{% block content %}
{% if all_races %}
    <h1 class="title">Browse candidate responses - 2018 Illinois Primary Election</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu purus, pulvinar a mi ut, euismod porttitor lorem. Quisque vestibulum enim nisl, et dictum leo porttitor ac.</p>
    <ul>
    {% for race in all_races %}
        <li><a href="{% url 'races:race' race.slug %}">{{ race.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No races are available.</p>
{% endif %}
{% endblock content %}