{% extends 'qas/_base.html' %}

{% block nav %}
<header role="banner" class="app__rail">
    <div class="app__rail__inner">
        <a href="/" class="hidden-sm"><img src="https://media.bettergov.org/voter-guide/BGA_Illinois_Voters_Guide_2018.png"></a>
        <nav class="app__rail__nav">
            <ul class="app__rail__menu">
                <h1 class="hidden-lg"><a href="https://bettergov.org/">Better Government Association</a></h1>
                <li class="app__rail__item--main">
                    <a href="{% url 'faq' %}">Voting FAQ</a>
                </li>
                <li class="app__rail__item--main">
                    <a href="{% url 'races:index' %}" class="active">Questionnaires</a>
                    <ul class="app__rail__menu--secondary">
                        {% for r in all_races|dictsort:"weight" %}
                        <li class="app__rail__item--secondary">
                            <a href="{% url 'races:race' r.slug %}">{{ r.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
{% endblock nav %}

{% block content %}
{% if all_races %}
    <h1 class="title">Questionnaires: Browse candidate responses</h1>
    <p>The BGA asked candidates running for contested state and Cook County-wide offices in the 2018 primary how they would improve and expand government accountability, efficiency and transparency for the residents they serve.</p>
    <ul>
    {% for race in all_races|dictsort:"weight" %}
        <li><a href="{% url 'races:race' race.slug %}">{{ race.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No races are available.</p>
{% endif %}
{% endblock content %}