{% extends 'qas/_base.html' %}

{% block content %}
<main id="content">
    <h1>{{ race.title }}</h1>
    <h2>Candidates:</h2>

    <ul class="candidates">
    {% for candidate in race.candidate_set.all %}
    <li class="candidate-bio" id="candidate-{{candidate.pk}}">
        {% autoescape off %}
        {% if candidate.image %}
        <img class="candidate-bio__image" src="{{ candidate.image.url }}">
        {% endif %}
        <div class="candidate-bio__meta">
            <h3 class="candidate-bio__name">{{ candidate.name }}</h3>
            <p class="candidate-bio__occupation">{{ candidate.occupation }}</p>
            <ul class="candidate-bio__links">
            {% if candidate.website %}<li><a href="{{ candidate.website }}"><i class="fas fa-link"></i></a></li>{% endif %}
            {% if candidate.facebook %}<li><a href="{{ candidate.facebook }}"><i class="fab fa-facebook"></i></a></li>{% endif %}
            {% if candidate.twitter %}<li><a href="{{ candidate.twitter }}"><i class="fab fa-twitter"></i></a></li>{% endif %}
            </ul>
        </div>
        {% endautoescape %}
    </li>
    {% endfor %}
    </ul>

    <h2>Questions:</h2>
    <ol class="questions">
        <li class="question">
            <h3 class="question__text">Elected offices held and civic involvement</h3>
            {% for candidate in race.candidate_set.all %}
                {% if candidate.experience %}
                <div class="response">
                    <div class="response__mug">
                        {% if candidate.image %}
                        <img class="response__mug__img" src="{{ candidate.image.url }}">
                        {% endif %}
                        <div class="response__mug__name">{{ candidate.name }}</div>
                    </div>

                    <div class="response__text">
                    {% autoescape off %}
                    {{ candidate.experience }}
                    {% endautoescape %}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </li>
    {% for question in race.question_set.all %}
        <li class="question" id="question-{{ question.pk }}">
        <h3 class="question__text">{{ question.question_text }}</h3>
            {% for response in question.response_set.all %}
                <div class="response">
                    <div class="response__mug">
                        {% if response.candidate.image %}
                        <img class="response__mug__img" src="{{ response.candidate.image.url }}">
                        {% endif %}
                        <div class="response__mug__name">{{ response.candidate.name }}</div>
                    </div>

                    <div class="response__text">
                    {% autoescape off %}
                    {{ response.response_text }}
                    {% endautoescape %}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
        </li>
    </ol>
</main>
{% endblock content %}