{% extends 'qas/_base.html' %}

{% load qas_extras %}

{% block nav %}
<header role="banner" class="app__rail">
    <div class="app__rail__inner">
        <a href="/" class="hidden-sm"><img src="https://media.bettergov.org/voter-guide/BGA_Illinois_Voters_Guide_2018.png"></a>
        <nav class="app__rail__nav">
            <ul class="app__rail__menu">
                <h1 class="hidden-lg"><a href="https://bettergov.org/">Better Government Association</a></h1>
                <li class="app__rail__item--main">
                    <a href="{% url 'faq' %}">Voting FAQ</a>
                </li>
                <li class="app__rail__item--main">
                    <a href="{% url 'races:index' %}">Races</a>
                    <ul class="app__rail__menu--secondary">
                        {% for r in all_races|dictsort:"weight" %}
                        <li class="app__rail__item--secondary">
                            {% if r.slug in request.path %}
                            <a href="{% url 'races:race' r.slug %}" class="active">{{ r.title }}</a>
                            {% else %}
                            <a href="{% url 'races:race' r.slug %}">{{ r.title }}</a>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
{% endblock nav %}

{% block content %}
<div class="kicker">2018 Illinois Primary Election • <a href="..">Browse races</a></div>
<h1 style="margin-top: 0;">{{ race.title }}</h1>
<section class="filters__wrapper">
    <h2 style="margin-bottom: .2em;">Choose the candidates</h2>
    <p>Select any number of candidates to compare their answers to the BGA questionnaire.</p>
    <ul class="filters">
        {% for candidate in race.candidate_set.all|sortLastName %}
        {% if candidate in candidates %}
        <li class="candidate-filter candidate-filter--selected" data-candidate-key={{candidate.pk}}>
        {% else %}
        <li class="candidate-bio candidate-filter" data-candidate-key={{candidate.pk}}>
        {% endif %}
            {% if candidate.image %}
            <img class="candidate-img" src="{{ candidate.image.url }}">
            {% else %}
            <div class="candidate-img"><i class="fas fa-user"></i></div>
            {% endif %}
            <h3 class="candidate-bio__name">{{ candidate.name }}</h3>
        </li>
        {% endfor %}
    </ul>
</section>

{% if candidates %}
    <h2>Candidates:</h2>

    <ul class="candidates">
    {% for candidate in candidates|sortLastName %}
    <li class="candidate-bio" data-candidate-key="{{candidate.pk}}">
        {% autoescape off %}
        {% if candidate.image %}
        <img class="candidate-img" src="{{ candidate.image.url }}">
        {% else %}
        <div class="candidate-img"><i class="fas fa-user"></i></div>
        {% endif %}
        <div class="candidate-bio__meta">
            <h3 class="candidate-bio__name">{{ candidate.name }}</h3>
            <p class="candidate-bio__occupation">{{ candidate.occupation }}</p>
            <ul class="candidate-bio__links">
            {% if candidate.website %}<li><a href="{{ candidate.website }}"><i class="fas fa-link"></i></a></li>{% endif %}
            {% if candidate.facebook %}<li><a href="{{ candidate.facebook }}"><i class="fab fa-facebook"></i></a></li>{% endif %}
            {% if candidate.twitter %}<li><a href="{{ candidate.twitter }}"><i class="fab fa-twitter"></i></a></li>{% endif %}
            </ul>
        </div>
        {% endautoescape %}
    </li>
    {% endfor %}
    </ul>

    <h2>Questions:</h2>
    <ol class="questions">
        <li class="question">
            <h3 class="question__text">Elected offices held and civic involvement</h3>
            {% for candidate in candidates|sortLastName %}
                <div class="response" data-candidate-key="{{candidate.pk}}">
                    <div class="response__mug">
                        {% if candidate.image %}
                        <img class="response__mug__img candidate-img" src="{{ candidate.image.url }}">
                        {% endif %}
                    </div>

                    <div class="response__text">
                        <span class="response__name">{{ candidate.name|lastName }}</span>
                        {{ candidate.experience|default:"<p>No response</p>"|safe }}
                    </div>
                    <button class="response-expand">Read full response <i class="fas fa-chevron-down"></i></button>
                </div>
            {% endfor %}
        </li>
    {% for question in race.question_set.all %}
        <li class="question" id="question-{{ question.pk }}">
            <h3 class="question__text">{{ question.question_text }}</h3>
            {% for candidate in candidates|sortLastName %}
            <div class="response" data-candidate-key="{{candidate.pk}}">
                <div class="response__mug">
                    {% if candidate.image %}
                    <img class="response__mug__img candidate-img" src="{{ candidate.image.url }}">
                    {% endif %}
                </div>

                <div class="response__text">
                    <span class="response__name">{{ candidate.name|lastName }}</span>
                    {{ candidate|responseFromQuestion:question|default:"<p>No response given.</p>"|safe }}
                    <!-- <label class="read-more-trigger" for="read-more">Read more</label> -->
                </div>
                <button class="response-expand">Read full response <i class="fas fa-chevron-down"></i></button>
            </div>
            {% endfor %}
        </li>
        {% endfor %}
    </ol>
{% endif %}
{% endblock content %}