// App elements
// -------------------------
* { box-sizing: border-box; }

p { font: 1em/1.2 $font-family-sans-serif; }

.p { @extend p }

h1 { margin-top: 0; }

img { max-width: 100%; }

a { 
    text-decoration: underline;
    text-decoration-color: $gray-lighter;
    transition: none;

    &:hover, &:focus {
        background: transparent;
        color: #EF484E;
        text-decoration-color: #EF484E;
    }
}

.hidden-sm {
    @include breakpoint-min( xs ) {
        display: none;
    }

    @include breakpoint-min( lg ) {
        display: block;
    }
}

.hidden-lg {
    @include breakpoint-min( lg ) {
        display: none;
    }
}

.top-text {
    font-size: 1.2em;
    margin-bottom: .5em;
    color: $gray;
    font-style: italic;
}

.alert {
    display: flex;

    &::before {
        content: "!";
        color: #EF484E;
        font-size: 2em;
        margin-right: .4em;
        font-weight: bold;
        font-style: normal;
        float: left;
    }

    > p { font-style: italic; }
}

.button {
    background:  #FFF5F5;
    // color: black;
    border: none;
    padding: 0 0 0 .5em;
    font-weight: bold;
    border-bottom: solid 2px #FFA8A8;
    display: table;
    border-radius: 3px;

    &::after {
        content: "\f054";
        font-family: "Font Awesome 5 Free";
        margin-left: .2em;
        padding: 0 .3em;
        font-size: 1.2em;
        background: #FFA8A8;
        display: table-cell;
        vertical-align: middle;
        border-left: solid .2em #FFF5F5;
        border-radius: 0 3px 0 0;
    }

    &:hover, &:focus {
        color: inherit;
        background:  #FFA8A8;
        border-bottom: 2px solid #FFA8A8;

        &::after { border-color: #FFA8A8; }
    }
}

.page { padding: 1em; }

.candidates {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.candidate-img {
    border-radius: 50%;
    object-fit: cover;
    width: 80px;
    height: 80px;

    background-color: $gray-lighter;
    overflow: hidden;

    svg { 
        display: block; 
        margin: auto;
        height: 100%;
        width: 100% !important;
        color: $gray;
    }
}

.candidate-bio {
    background: $story-accent-light;
    border-bottom: 2px solid $story-accent-lighter;
    margin: 0;
    padding: .5em;
    flex: 1 0 25%;

    display: flex;
}

.candidate-bio__name {
    margin: initial;
    margin-bottom: .5em;
}

.candidate-bio__occupation {
    font-size: .9em;
    margin-bottom: .5em;
}

.candidate-bio .candidate-img {
    margin-right: 1em;
    flex: 0 0 80px;
    align-self: flex-start;
}

.candidate-bio__links {
    list-style: none;
    padding-left: 0;
    font-size: 1.2em;

    > * {
        display: inline-block;
        margin-right: .4em;
    }

    a { color: $gray-lighter; }

    a:hover, a:focus { color: $story-accent; background: none; border: none; }
}

.questions {
    list-style: none;
    padding-left: 0;
}

.question {
    margin-bottom: 2em;
}

.response {
    background: $story-accent-light;
    border-bottom: 2px solid $story-accent-lighter;
    padding: 1em;
    margin-bottom: 1em;

    display: flex;
    flex-direction: column;

    @include breakpoint-min( sm ) {
        flex-direction: row;
    }
}

.response__text {
    flex: 1 0 calc(100% - 100px);
}

.response__text li { list-style: disc; }

.response__text > p:last-child {
    margin-bottom: 0;
}

.response__mug {
    width: 80px;
    margin-right: 20px;
}

.response__name {
    float: left;
    margin-right: .5em;
    text-transform: uppercase;
    font: bold 1em/1.2 $font-family-sans-serif;
}

.filters {
    padding-left: 0;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: .5em;
    justify-content: space-between;
}

.candidates {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;
    justify-content: space-between;
}

@include breakpoint-min( sm ) {
    .filters { grid-template-columns: repeat(2, 1fr); }
}

@include breakpoint-min( lg ) {
    .filters { grid-template-columns: repeat(3, 1fr); }
    .candidates { grid-template-columns: repeat(3, 1fr); }
}

@include breakpoint-min( xl ) {
    .filters { grid-template-columns: repeat(4, 1fr); }
}

.candidate-filter {
    cursor: pointer;
    position: relative;
    background: transparent;
    transition: all .3s;
    padding: .2em;
    display: flex;
    align-items: center;
    margin: 0;
    border: 1px solid $gray-lighter;

    .candidate-img { 
        height: 40px; 
        width: 40px;
        flex: 0 0 auto;
        margin-left: 18px;
        margin-right: .5em;
    }

    h3 { align-self: center; margin: 0; }
}

.candidate-filter:not(.candidate-filter--selected) {
    background: transparent !important;
}

.candidate-filter::before {
    content: "";
    height: 10px;
    width: 10px;
    border: solid 1px $story-accent;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 5px);
}

.candidate-filter--selected {
    background: $story-accent-light;

    &::before{
        background: $story-accent;
    }
}

.candidate-filter:hover,
.candidate-filter:focus {
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
}

.candidate-filter--inactive {
    color: $story-accent;
    cursor: default !important;
    pointer-events: none;

    &::before { content: none; }
}

// "Read more" for responses
// -------------------------
.response { 
    position: relative;
    flex-wrap: wrap;
}

.response-expand {
    flex: 0 0 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    background: white;
    padding-top: 5px;
    cursor: pointer;
    font-weight: bold;
    color: $gray;

    &:hover {
        text-decoration: underline;
    }
}

.response-expand::before {
    content: "";
    width: 100%;
    height: 30px;
    position: absolute;
    background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
    top: -30px;
    left: 0;
}

.response-expand { display: none; }

.response.collapsed {

    border-bottom: none;

    .response__text {
        max-height: 150px;
        overflow: hidden;
    }

    .response-expand {
        display: block;
    }
}


// Nav elements
// -------------------------
.app__rail {

    z-index: 99;

    a:hover, a:focus { border-bottom: none; }

    img {
        max-width: calc(100% - 2em);
        display: block;
        margin: 0 1em 1em;
    }
    
    h1 {
        margin-left: 0;
        margin-right: auto;
        width: 60px;
        margin-bottom: 0;

        a, a:hover, a:focus {
            background: url("https://media.bettergov.org/BGA_logo_blue.png") no-repeat center;
            background-size: contain;
            display: block;
            height: 40px;
            overflow: hidden;
            text-indent: 100%;
            filter: grayscale(1) brightness(10);
        }
    }

    h2 {
        color: #787878;
        font: 700 18px/30px $font-family-sans-serif;
        height: 30px;
        padding-left: .25em;
        margin-left: .25em;
        margin-top: 5px;
        text-transform: uppercase;

        font-family: $font-family-condensed;
        font-size: 20px;
        // display: none;
    }
}

.app__rail__nav {
    background: rgb(40, 36, 58);
    padding: .1em 1em;
}

.app__rail__menu {
    padding-left: 0;
    list-style: none;

    a { 
        color: white;
        transition: none;
        display: block;
    }

    a:hover, a:focus, a.active {
        color: #EF484E;
        background: transparent;
        border-bottom: none;
    }

    @include breakpoint-min ( xs ) {
        display: flex;
        margin: 0;
        align-items: center;
        justify-content: flex-end;

        .app__rail__item--main {
            margin: 0;
            padding: 0;
            border-bottom: none;
            margin-left: 1em;
        }

        .app__rail__menu--secondary {
            // position: absolute;
            // background: rgb(40, 36, 58);
            // width: 100%;
            // left: 0;
            // top: 40px;
            display: none;
        }

        // a[href*="races"]:hover,  a[href*="races"]:focus {
        //     + .app__rail__menu--secondary { display: block; }
        // }
    }

    @include breakpoint-min ( lg ) {
        display: block;
        margin: 1em 0;

        .app__rail__item--main {
            margin-bottom: .4em;
            padding-bottom: .5em;
            border-bottom: solid 1px white;
            margin-left: 0;
        }

        .app__rail__menu--secondary {
            display: block;
        }
    }
}

.app__rail__item--main {

    font-size: 1.1rem;
    line-height: 1.1;
    font-weight: bold;

    &:last-of-type { 
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }
}

.app__rail__item--secondary {
    font-size: .8rem;
    font-weight: normal;
    margin-bottom: .5em;

    a:hover, a:focus {
        border-bottom: none;
    }
}

.app__rail__menu--secondary {
    padding: .5em 0 0;
}

.app__rail .footer-wrapper {
    width: 100%;
    padding: 0 0 .5em;

    .divider { margin-top: .8em; }

    li::after { content: ""; }

    a { 
        color: #1a1a1a;

        &:hover, &:focus {
            color: #EF484E;
        }
    }
}


// App layout
// -------------------------
@include grid( app );

.app {
    background: #ededee;

    @include breakpoint-min( xs ) {
        padding-top: 50px;
    }
    @include breakpoint-min( lg ) {
        padding-top: 2em;
    }
}

.app__rail {
    background: #ededee;
    box-sizing: border-box;

    @include breakpoint-min( xs ) {
        position: fixed;
        top: 3em;
        left: 0;
        height: 40px;
        width: 100%;
        overflow: visible;

        img { display: none; }
    }

    @include breakpoint-min( lg ) {
        top: 0;
        left: auto;
        width: 200px;
        height: auto;
        overflow: hidden;

        img { display: block; }

        .app__rail__inner {
            max-height: 100vh;
            overflow-y: scroll;
            width: calc(100% + 20px);
            padding-right: 20px;
            box-sizing: border-box;
        }

        .app__rail__nav { margin-bottom: 2em; }
    }
}

.page, .app__footer {
    display: inline-block;
    background: white;
    margin: 0;
    vertical-align: top;
    box-sizing: border-box;

    @include breakpoint-min( xs ) {
        width: 100%;
    }
    @include breakpoint-min( lg ) {
        width: colspan(9, 12);
        margin-left: 225px;
    }
    @include breakpoint-min( xl ) {
        width: colspan(12, 16);
        padding: colspan(p, 16);
    }
}

.app__footer {
    text-align: center;
    padding-bottom: 1em;
    margin-bottom: 2em;
}


// App behavior
// -------------------------


// Print
// -------------------------

@media print {
    .app__rail { display: none; }

    .page, .app__footer { display: block; width: 100%; }

    .response.collapsed {
        border-bottom: 2px solid $story-accent-lighter;

        .response__text { max-height: none; }
        .response-expand { display: none; }
    }

    .filters__wrapper { display: none; }

    .response { flex-direction: row; }
    
}