// App elements
// -------------------------
p { font: 1em/1.2 $font-family-sans-serif; }

.candidates { 
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.candidate-bio {
    background: #F8F5F0;
    border-bottom: 2px solid #f1ecda;
    margin: 0 .5em 1em;
    padding: .5em;
    flex: 1 0 25%;

    display: flex;
}

.candidate-bio__name {
    margin: initial;
    margin-bottom: .5em;
}

.candidate-bio__occupation {
    font-size: .9em;
    margin-bottom: .5em;
}

.candidate-bio__image {
    border-radius: 50%;
    margin-right: 1em;
    height: 80px;
    object-fit: cover;

    flex: 0 0 80px;
    align-self: flex-start;
}

.candidate-bio__links {
    list-style: none;
    padding-left: 0;
    font-size: 1.2em;

    > * {
        display: inline-block;
        margin-right: .4em;
    }

    a { color: #c6c6c6; }

    a:hover, a:focus { color: #b19c56; background: none; }
}

.questions {
    list-style: none;
    padding-left: 0;
}

.question {
    margin-bottom: 2em;
}

.response {
    background: #F8F5F0;
    border-bottom: 2px solid #f1ecda;
    display: flex;
    padding: 1em;
    margin-bottom: 1em;
}

.response__text {
    flex: 1 0 calc(100% - 100px);
}

.response__text > p:last-child {
    margin-bottom: 0;
}

.response__mug {
    width: 80px;
    padding-right: 20px;
}

.response__mug__img {
    border-radius: 50%;
    max-width: 100%;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.response__name {
    float: left;
    margin-right: .5em;
    text-transform: uppercase;
    font: bold 1em/1.2 $font-family-sans-serif;
}

.candidate-filter {
    cursor: pointer;
    position: relative;
    background: transparent;

    .candidate-bio__image { 
        height: 50px; 
        flex-basis: 50px;
        margin-left: 25px;
        background-color: $gray-lighter;
        display: flex;
        overflow: hidden;

        svg { 
            display: block; 
            margin: auto;
            height: 100%;
            width: 100%;
            color: $gray;
        }
    }

    h3 { align-self: center; margin: 0; }
}

.candidate-filter::before {
    content: "";
    height: 14px;
    width: 14px;
    border: solid 1px $gray;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 7px);
}

.candidate-filter:hover,
.candidate-filter:focus,
.candidate-bio--selected {
    background: #F8F5F0;

    &::before{
        background: $gray;
    }
}


// App layout
// -------------------------
#content { 
    width: 70em;
    // min-height: calc(100vh - 40px - 100px);
}


// App behavior
// -------------------------

