// Fonts
// -------------------------
$font-family-sans-serif:  acumin-pro, Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-condensed:   acumin-pro-condensed, Helvetica, Arial, sans-serif;

// BGA color palette
// -------------------------
$blue-bga: #003a63;
$yellow-highlight: rgba(251, 251, 120, .8);

$story-accent: #b19c56;
$gray: #555;
$gray-light: #888;
$gray-lighter: #c6c6c6;